doctype html
html
  head
    title="Log"
    style
      include ../css/style.css
  body
    div.container
      p.log This app will log you in to your google account
      button
        a(href="/auth/google") Log